    /* styles.css */
    body {
        font-family: sans-serif;
        background-color: #f0f0f0;
    }
    h1 {
        color: navy;
    }
                p {
                color: red; /* Changes all paragraph text to red */
             }