    /* styles.css */
    body {
        font-family: sans-serif;
        background-color: #000000;
    }
    h1 {
        color: orange;
    }
    p {
        color: orange; /* Changes all paragraph text to orange */
    }